:root {
    /* Colors */
    --slate: #434455;
    --navy-blue: #2e2f42;
    --cornflower: #e7e9fc;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --white: #fff;
    --cloud: #f4f4fd;

}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    color: var(--slate);
    background-color: var(--white);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* #region Header */
.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: var(--navy-blue);
}

.text-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.text-link:hover,
.text-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contact-box {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contact-box:hover,
.contact-box:focus {
    color: var(--ocean);
}
/* #endregion */

/* #region Hero */
.title-box {
    background: var(--navy-blue);
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.main-button {
    background-color: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/* #endregion */

/* #region Goals */
.goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.goals-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* #endregion */

/* #region Our Team */

.main-section-team {
    background-color: var(--cloud);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.team-member-card {
    background-color: #ffffff;
}

.card-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate)
}
/* #endregion */

/* #region Our Portfolio */
.portfolio-card {
    background-color: #8E8F99;
}
/* #endregion */

/* #region Footer */
.logo-studio-footer {
    color: var(--cloud);
}

.footer-box {
    background: var(--navy-blue);
}

.paragraf-box {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
/* #endregion */